<?xml version="1.0" encoding="UTF-8"?>
<suite configfailurepolicy="continue" name="Suite" parallel="none">
	<test name="Test" preserve-order="true">
		<classes>
			<class name="testsuite.RegressionTestCases" />
			<methods>
				<include name="TC_EL_001" />
				<include name="TC_EL_002" />
				<include name="TC_EL_003" />
				<include name="TC_EL_004" />
				<include name="TC_EL_005" />
				<include name="TC_EL_006" /> 
				<include name="TC_EL_008" />
				<include name="TC_EL_009" />
				<include name="TC_EL_011" />
				<include name="TC_EL_012" />
				<include name="TC_EL_014" />
				<include name="TC_EL_015" />
				<include name="TC_EL_016" />
				<include name="TC_EL_017" />
				<include name="TC_EL_019" />
				<include name="TC_EL_020" />
				<include name="TC_EL_021" />
				<include name="TC_EL_024" />
				<include name="TC_EL_025" />
				<include name="TC_EL_029" />
				<include name="TC_EL_030" />
				<include name="TC_EL_031" />
				<include name="TC_EL_033" />
				
				
				
				
			</methods>
		</classes>
	</test>
</suite>
