<?xml version="1.0" encoding="UTF-8"?>
<suite configfailurepolicy="continue" name="Suite" parallel="none">
	<test name="Test" preserve-order="true">
		<classes>
			<class name="testsuite.Demo" />
			<methods>
				<include name="TC_EL_001" />
	
			</methods>
		</classes>
	</test>
</suite>
