<?xml version="1.0" encoding="UTF-8"?>
<suite configfailurepolicy="continue" name="Suite" parallel="none">
	<test name="Test" preserve-order="true">
		<classes>
			<class name="testsuite.RegressionTestCases" />
			<methods>
				<include name="TC_EL_001" />
				<!-- <include name="TC_EL_002" />
				<include name="TC_EL_003" />
				<include name="TC_EL_004" />
				<include name="TC_EL_005" />
				<include name="TC_EL_006" />
				<include name="TC_EL_007" />
				<include name="TC_EL_008" /> -->
				
				
			</methods>
		</classes>
	</test>
</suite>
